:root[theme="light"] {
  --primaryColor: rgb(165, 200, 225);
  --secondaryColor: rgb(250, 180, 75);
  --tertiaryColor: rgb(165, 200, 225);
  --shadowColor: rgba(0, 0, 0, 0.5);
  --backColor: rgb(230, 230, 230);
  --uiColor: rgb(255, 255, 255);
  --backgroundColor: linear-gradient(
    var(--secondaryColor),
    var(--tertiaryColor)
  );
  --normalTextColor: rgb(35, 35, 35);
  --accentTextColor: rgb(30, 50, 80);
}

:root[theme="dark"] {
  --primaryColor: rgb(165, 200, 225);
  --secondaryColor: rgb(30, 50, 80);
  --tertiaryColor: rgb(90, 70, 65);
  --shadowColor: rgba(255, 255, 255, 0.5);
  --backColor: rgb(55, 55, 55);
  --uiColor: rgb(75, 75, 75);
  --backgroundColor: linear-gradient(
    var(--secondaryColor),
    var(--tertiaryColor)
  );
  --normalTextColor: rgb(255, 255, 255);
  --accentTextColor: rgb(235, 235, 235);
}
:root {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--secondaryColor);
  background: var(--backgroundColor);
}

/********************* CSS Header *********************/

header {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: var(--accentTextColor);
}

/********************* CSS Navbar *********************/
nav {
  width: 100%;
  background-color: var(--primaryColor);
  box-shadow: 0px 0px 10px var(--shadowColor);
}

/********************* CSS Main *********************/
main {
  flex-grow: 1;
  max-width: 1200px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  color: var(--normalTextColor);
}

/********************* CSS Tabelas *********************/
#tabelaUltimos10ArtigosContainer,
#tabelaArtigosContainer,
#tabelaCategoriasContainer {
  background-color: var(--backColor);
  border-radius: 1rem;
  padding: 0rem 0.5rem 0.1rem 0.5rem;
}
#tabelaCategorias,
#tabelaArtigos {
  & thead tr th {
    border-radius: 1rem;
    background-color: var(--backColor);
    color: var(--accentTextColor);
    font-size: 0.8rem;
  }
  & thead tr,
  tbody tr {
    border-bottom: 0.1rem solid var(--primaryColor);
  }
  & tbody tr td {
    background-color: var(--backColor);
    color: var(--normalTextColor);
    font-size: 0.8rem;
    & button {
      border-width: 0.1rem;
      font-size: 0.8rem;
    }
  }
}

/********************* CSS Barra Pesquisa/ordenação *********************/
#selectCategorias,
#selectOrderArtigosBy,
#selectOrderAscOrDesc {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  background-color: var(--uiColor);
  color: var(--normalTextColor);
}

#barraPesquisaOrdenacao {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 0.8rem;
  & div {
    display: flex;
    gap: 0.5rem;
  }
}

#caixaPesquisar {
  border-bottom: 0.1rem solid var(--normalTextColor);
  border-radius: 0.5rem;
  background-color: var(--uiColor);
  padding: 0 1rem;
  & input {
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }
  & button {
    border: none;
    border-radius: 1rem;
    background-color: transparent;
    color: var(--normalTextColor);
  }
}

#ordenarLimparContainer {
  & button {
    border-width: 0.1rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
  }
}

/********************* CSS ?????? *********************/
.formulario {
  border: 3px solid var(--secondaryColor);
  max-width: fit-content;
  padding: 25px;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
}

.imagem_inventario {
  width: 700px;
  height: 400px;
  border-radius: 25px 25px;
}
.imagem_artigos {
  width: 600px;
  height: 350px;
  border-radius: 25px 25px;
}

.imagem_categorias {
  width: 600px;
  height: 350px;
  border-radius: 25px 25px;
}

#tabela1 {
  text-align: center;
  color: aliceblue;
  background-color: rgba(255, 157, 0, 0.781);
}

/********************* CSS Footer *********************/

footer {
  width: 100%;
  text-align: center;
  color: var(--accentTextColor);
  font-size: 0.8rem;
}

/********************* CSS utilizadorNavUIItens *********************/

#utilizadorNavUIItens {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
  align-items: end;
  font-size: 0.8rem;
}

/********************* CSS Botão Logout e Mudar Tema *********************/
#botaoLogout,
#botaoMudarTema {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  padding: 0.25rem;
  border: none;
  background-color: var(--accentTextColor);
  font-size: 1rem;
  color: var(--backColor);
  transition: all 0.25s ease-in-out;
  &:hover {
    opacity: 0.8;
    box-shadow: 0px 0px 5px 2px var(--shadowColor);
    transform: scale(1.25);
  }
}

/********************* CSS Voltar ao Topo *********************/
#voltarAoTopo {
  position: fixed;
  z-index: 1;
  bottom: 5rem;
  right: 1rem;
  align-self: flex-end;
  border-radius: 1rem;
  margin-bottom: 0.1rem;
  background-color: var(--accentTextColor);
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--backColor);
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    box-shadow: 0px 0px 5px 2px var(--shadowColor);
  }
}

/********************* CSS Dialog *********************/

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80dvw;
  padding: 1rem;
  border: 0.2rem solid var(--primaryColor);
  border-radius: 1rem;
  background: var(--backgroundColor);
  box-shadow: 0px 0px 10px var(--shadowColor);
  text-align: center;
  color: var(--normalTextColor);
  &::backdrop {
    backdrop-filter: blur(3px);
  }
  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
}
