body {

    background: linear-gradient(rgb(247, 169, 61), rgb(98, 231, 222));
}

header {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(4, 4, 4);
}

.formulario {

    border: 3px solid rgb(241, 102, 4);
    max-width: fit-content;
    padding: 25px;
    font-size: large;
    margin-left: auto;
    margin-right: auto;

}

.imagem_inventario{
    width: 700px;
    height: 400px;
    border-radius: 25px 25px;

}
.imagem_artigos{
    width: 600px;
    height: 350px;
    border-radius: 25px 25px;

}


.imagem_categorias{
    width: 600px;
    height: 350px;
    border-radius: 25px 25px;

}

#tabela1 {
    text-align: center;
    color: aliceblue;
    background-color: rgba(255, 157, 0, 0.781);
}

footer {
    text-align: center;
}

